*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --cell-size: 95px;
  --mark-size: calc(var(--cell-size)* .9);
  --dark-gray: #4d5166;
  --slate-blue: #3b434b;
  --chalk-white: #f7efee;
}

body{
  margin: 0;
  background-color: var(--dark-gray);
  color: #fff;
}

h1 {
  font-size: 16px;
  margin: 0;
}

p {
  padding: 8px;
}

/********************************************/
/**************** Layout *******************/
/******************************************/

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.controls-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.board-container {
  display: flex;
  width: 100vw;
  min-height: 60vh;
  justify-content: center;
  background-color: var(--slate-blue);
}

.reset-container {
  /* margin-top: 16px; */
}

.footer-container {
  width: 100vw;
  background-color: rgb(230, 230, 230);
  display: flex;
  justify-content: center;
}

/********************************************/
/**************** Navbar *******************/
/******************************************/

nav {
  min-width: 100vw;
  padding: 24px 16px;
  margin-top: -2px;
  display: flex;
  justify-content: space-between;
  background-color: var(--dark-gray);
}

.logo{
  /* border: 2px solid yellow; */
}

.nav-controls {
  display: flex;
  justify-content: flex-end;
}

/********************************************/
/**************** Buttons ******************/
/******************************************/

.btn {
  margin: 10px;
  min-width: 20vw;
  padding: 8px 16px;
  border: none;
  background-color: rgb(224, 224, 224);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

/********************************************/
/*********** Tic Tac Toe Board *************/
/******************************************/

.board {
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 3px solid var(--chalk-white);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.cell.x,
.cell.o,
.no-click {
  cursor: not-allowed;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:nth-child(3n + 1) {
  border-left: none;
}

.cell:nth-child(3n + 3) {
  border-right: none;
}

.cell:last-child,
.cell:nth-child(7),
.cell:nth-child(8) {
  border-bottom: none;
}

.cell.x::before,
.cell.x::after,
.cell.o::before {
  background-color: black;
}

.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after,
.board.o .cell:not(.x):not(.o):hover::before {
  background-color: lightgray;
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after {
  content: "";
  width: calc(var(--mark-size) * .15);
  height: var(--mark-size);
  position: absolute;
}

.cell.x::before,
.board.x .cell:not(.x):not(.o):hover::before {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.o):hover::after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

.cell.o::before,
.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::before,
.board.o .cell:not(.x):not(.o):hover::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.cell.o::before,
.board.o .cell:not(.x):not(.o):hover::before {
  width: calc(var(--mark-size) * .9);
  height: calc(var(--mark-size) * .9);
}

.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::after {
  width: calc(var(--mark-size) * .6);
  height: calc(var(--mark-size) * .6);
  background-color: white;
}

/********************************************/
/***************** End *********************/
/******************************************/