:root {
  --cell-size: 90px;
  --mark-size: calc(var(--cell-size)* .9);
  --dark-gray: #4d5166;
  --slate-blue: #3b434b;
  --chalk-white: #f7efee;
  --blue: #72bba6;
  --blue-light: #72bba65d;
}

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Gaegu', cursive;
  color: var(--chalk-white);
  font-size: 16px;
}

@media only screen and (min-width: 600px) {
  :root {
    --cell-size: 100px;
  }
}

@media only screen and (min-height: 1000px) {
  :root {
    --cell-size: 150px;
  }
}

body, html {
  margin: 0;
  background-color: var(--dark-gray);
  color: var(--chalk-white);
  font-size: 24px;
}

h1 {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}

p {
  padding: 8px;
  padding-bottom: 0;
}

/********************************************/
/**************** Layout *******************/
/******************************************/

.page-container,
.board-container,
.reset-container {
  display: flex;
}

.page-container {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.btn-container {
  position: absolute;
  margin-top: 20px;
}

.board-container {
  width: 100vw;
  min-height: 56vh;
  justify-content: center;
  background-color: var(--slate-blue);
}

.reset-container {
  justify-content: center;
  min-height: 8vh;
}


/********************************************/
/**************** Navbar *******************/
/******************************************/

nav {
  min-width: 100vw;
  padding: 34px 16px 8px 16px;
  margin-top: -2px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  background-color: var(--dark-gray);
}

.nav-controls {
  display: flex;
  justify-content: flex-end;
}

.logo {
  margin-right: 20px;
  align-self: center;
}

/********************************************/
/**************** Dropdown *****************/
/******************************************/

.btn-dropdown, .dropdown-content {
  width: 160px;
}

.btn-dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 42px;
  padding: 2px 4px;
  background-color: transparent;
  border: 3px double var(--chalk-white);
  cursor: pointer;
}

.down-icon {
  padding-left: 5px;
  font-size: 1rem;
}

.btn-text {
  font-size: 1rem;
  font-weight: 500;
  margin-left: 8px;
}

@media only screen and (min-width: 600px) {
  .btn-dropdown, .dropdown-content {
    min-width: 180px;
    padding: 8px 4px;
  }

  .btn-text {
    font-size: 1rem;
  }

  .dropdown-content span {
    font-size: 1rem;
  }

  h1 {
    font-size: 2rem;
    font-weight: 100;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--chalk-white);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content span {
  color: var(--slate-blue);
  padding: 12px 16px;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 500;
  display: block;
  cursor: pointer;
}

.dropdown-content span:hover,
.dropdown-content span:focus {
  background-color: var(--blue-light);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .btn-dropdown {
  background-color: var(--blue);
  border: 3px double var(--chalk-white);
}

/********************************************/
/**************** Buttons ******************/
/******************************************/

.btn,
svg {
  width: 130px;
  height: 42px;
}

.btn {
  cursor: pointer;
  background: transparent;
  border: 3px double var(--chalk-white);
  outline: none;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}

.btn-x,
.btn-o,
.reset,
svg {
  position: absolute;
}

.btn-x, .btn-o {
  bottom: 10px;
}

.reset {
  bottom: 4%;
}

.btn-x {
  right: 5px;
}

.btn-o {
  left: 5px;
}

.btn span {
  font-weight: 500;
  font-size: 1rem;
}

svg {
  left: -3px;
  top: -3px;
  fill: none;
  stroke: #4d5166;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}

.select {
  box-shadow: inset 0px 0px 20px 10px var(--blue);
}

@media(hover: hover) and (pointer: fine) {
  .btn:hover {
    transition: 1s ease-in-out;
    box-shadow: inset 0px 0px 22px 10px var(--blue);
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -ms-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
}

  .btn:hover svg {
    stroke-dashoffset: -480;
  }
}

@media only screen and (min-width: 600px) {
  .btn, svg {
    width: 180px;
    height: 46px;
  }
  .btn span {
    font-weight: 500;
    font-size: 1.2rem;
  }
}

/********************************************/
/*********** Tic Tac Toe Board *************/
/******************************************/

.board {
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
  -webkit-transition: opacity 2s linear;
  -moz-transition: opacity 2s linear;
  -ms-transition: opacity 2s linear;
  -o-transition: opacity 2s linear;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
  -webkit-transition: visibility 0s 2s, opacity 2s linear;
  -moz-transition: visibility 0s 2s, opacity 2s linear;
  -ms-transition: visibility 0s 2s, opacity 2s linear;
  -o-transition: visibility 0s 2s, opacity 2s linear;
}

.winningMessage {
  position: absolute;
  top: 52%;
  z-index: 0;
  font-size: 2rem;
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 3px solid var(--chalk-white);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.cell.x,
.cell.o,
.no-click {
  cursor: not-allowed;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:nth-child(3n + 1) {
  border-left: none;
}

.cell:nth-child(3n + 3) {
  border-right: none;
}

.cell:last-child,
.cell:nth-child(7),
.cell:nth-child(8) {
  border-bottom: none;
}

.cell.x::before,
.cell.x::after,
.cell.o::before {
  background-color: var(--chalk-white);
}

.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after,
.board.o .cell:not(.x):not(.o):hover::before {
  background-color: var(--chalk-white);
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after {
  content: "";
  width: calc(var(--mark-size) * .15);
  height: var(--mark-size);
  position: absolute;
}

.cell.x::before,
.board.x .cell:not(.x):not(.o):hover::before {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.o):hover::after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

.cell.o::before,
.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::before,
.board.o .cell:not(.x):not(.o):hover::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.cell.o::before,
.board.o .cell:not(.x):not(.o):hover::before {
  width: calc(var(--mark-size) * .9);
  height: calc(var(--mark-size) * .9);
}

.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::after {
  width: calc(var(--mark-size) * .6);
  height: calc(var(--mark-size) * .6);
  background-color: var(--slate-blue);
}

/********************************************/
/***************** End *********************/
/******************************************/