:root {
  --cell-size: 90px;
  --mark-size: calc(var(--cell-size) * 0.9);
  --dark-gray: #4d5166;
  --slate-blue: #3b434b;
  --chalk-white: #f7efee;
  --blue: #72bbbb;
  --blue-light: #72bba65d;
  --light-pink: #fddfed;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Gaegu", cursive;
  color: var(--chalk-white);
  font-size: 16px;
}

body,
html {
  margin: 0;
  background-color: var(--dark-gray);
  color: var(--chalk-white);
  font-size: 24px;
}

h1 {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}

p {
  padding: 8px;
  padding-bottom: 0;
}

/********************************************/
/**************** Layout *******************/
/******************************************/

.page-container,
.board-container,
.reset-container {
  display: flex;
}

.page-container {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.btn-container {
  display: flex;
  justify-content: center;
  min-height: 5vh;
}

.board-container {
  min-width: 80vw;
  min-height: 55vh;
  justify-content: center;
  background-color: var(--slate-blue);
  border: 3px double var(--chalk-white);
}

.reset-container {
  justify-content: center;
  align-items: baseline;
  min-height: 10vh;
  min-width: 60vw;
}

/********************************************/
/**************** Navbar *******************/
/******************************************/

nav {
  min-width: 100vw;
  min-height: 15vh;
  box-shadow: inset 0px 0px 30px 45px var(--blue);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 3px double var(--chalk-white);
}

.nav-controls {
  display: flex;
  justify-content: flex-end;
}

.logo {
  align-self: center;
}

/********************************************/
/**************** Dropdown *****************/
/******************************************/

.btn-dropdown,
.dropdown-content {
  width: 160px;
}

.btn-dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 4px;
  background-color: var(--dark-gray);
  border: 3px double var(--chalk-white);
  cursor: pointer;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}

.down-icon {
  padding-left: 4px;
  font-size: 1rem;
}

.btn-text {
  font-size: 1rem;
  font-weight: 500;
  margin-left: 8px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--chalk-white);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content span {
  color: var(--slate-blue);
  padding: 12px 16px;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 500;
  display: block;
  cursor: pointer;
}

.dropdown-content span:hover,
.dropdown-content span:focus {
  background-color: var(--blue-light);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .btn-dropdown {
  transition: 1s ease-in-out;
  box-shadow: inset 0px 0px 22px 10px var(--blue);
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -ms-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  border: 3px double var(--chalk-white);
}

.inactive {
  display: none;
}
/********************************************/
/**************** Buttons ******************/
/******************************************/

.btn {
  cursor: pointer;
  background: transparent;
  border: 3px double var(--chalk-white);
  padding: 4px 16px;
  margin: 0 8px;
  outline: none;
  font-size: 1rem;
  font-weight: 500;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}

.reset {
  margin: 0;
}

.select {
  box-shadow: inset 0px 0px 20px 10px var(--blue);
}

/********************************************/
/*********** Tic Tac Toe Board *************/
/******************************************/

.board {
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 3px double var(--chalk-white);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.cell.x,
.cell.o,
.no-click {
  cursor: not-allowed;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:nth-child(3n + 1) {
  border-left: none;
}

.cell:nth-child(3n + 3) {
  border-right: none;
}

.cell:last-child,
.cell:nth-child(7),
.cell:nth-child(8) {
  border-bottom: none;
}

.cell.x::before,
.cell.x::after,
.cell.o::before {
  background-color: #fde26c;
}

.cell.o::before {
  background-color: #ffd7b4;
}

.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after,
.board.o .cell:not(.x):not(.o):hover::before {
  background-color: #fde26c;;
}

.board.o .cell:not(.x):not(.o):hover::before {
  background-color: #ffd7b4;
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after {
  content: "";
  width: calc(var(--mark-size) * 0.15);
  height: var(--mark-size);
  position: absolute;
}

.cell.x::before,
.board.x .cell:not(.x):not(.o):hover::before {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.o):hover::after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

.cell.o::before,
.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::before,
.board.o .cell:not(.x):not(.o):hover::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.cell.o::before,
.board.o .cell:not(.x):not(.o):hover::before {
  width: calc(var(--mark-size) * 0.9);
  height: calc(var(--mark-size) * 0.9);
}

.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::after {
  width: calc(var(--mark-size) * 0.6);
  height: calc(var(--mark-size) * 0.6);
  background-color: var(--slate-blue);
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
  -webkit-transition: opacity 2s linear;
  -moz-transition: opacity 2s linear;
  -ms-transition: opacity 2s linear;
  -o-transition: opacity 2s linear;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
  -webkit-transition: visibility 0s 2s, opacity 2s linear;
  -moz-transition: visibility 0s 2s, opacity 2s linear;
  -ms-transition: visibility 0s 2s, opacity 2s linear;
  -o-transition: visibility 0s 2s, opacity 2s linear;
}

.winningMessage {
  position: absolute;
  top: 54%;
  font-size: 2rem;
}

/********************************************/
/************ Media Queries ****************/
/******************************************/

@media only screen and (min-width: 600px) {
  
  :root {
    --cell-size: 100px;
  }
   
  .btn {
    font-size: 1.2rem;
  }
  
  .btn-dropdown,
  .dropdown-content {
    min-width: 180px;
    padding: 8px 4px;
  }

  .btn-text {
    font-size: 1rem;
  }

  .dropdown-content span {
    font-size: 1rem;
  }

  h1 {
    font-size: 2rem;
    font-weight: 100;
  }

  .board-container {
    min-width: 65vw;
  }

  nav {
    box-shadow: inset 0px 0px 40px 45px var(--blue);
  }
}

@media only screen and (min-width: 1000px) {
  .board-container {
    min-width: 50vw;
  }
}

@media only screen and (min-height: 1000px) {
  :root {
    --cell-size: 150px;
  }
}

@media (hover: hover) and (pointer: fine) {
  .btn:hover {
    transition: 1s ease-in-out;
    box-shadow: inset 0px 0px 22px 10px var(--blue);
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -ms-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
  }
}

/********************************************/
/***************** End *********************/
/******************************************/
